# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.DS_Store

# local temporaries and executables
dist/
bin/
tmp/
test/test-files
build/

# actual document
# synced via dropbox rather

yarn.lock